body {
  width:1065px;
	margin:0px auto;
	padding:0px;
	font-family:Verdana, sans-serif;
	font-weight: 400;
	color:white;
	background:black url("../img/background.jpg")no-repeat center top;
	background-size: cover;
}
a {
	text-decoration: none;
	color:white;
   }
header{
  width: 1067px;
  height:46px;
  margin-top:49px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 500px;
}
.logo{
	width:155px;
	cursor: pointer;
}
.logo-img{
	height:44px;
	width:46px;
	float:left;
	margin-right:15px;
	background:url("../img/logo.png")no-repeat center top;
}
.logo:hover .logo-img {
	background:url("../img/logo-hover.png")no-repeat center top;
}
.logo-text{
	font-weight: 600;
	font-size: 24px;
}
.logo-text-bottom{
	font-size: 15px;
}
.logo:hover .logo-text{
	color:#f26522;
}
.info-text{
	width:300px;
	height:44px;
	text-align:right;
}
.info-text-top{
	padding-top:6px;
}
.info-text-bottom{
	padding-top:3px;
}
.content{
	width:1067px;
	margin:49px auto 0px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px 68px;
}
.box{
	width:311px;
	height:244px;
	margin-bottom:55px;
	padding:0px;
}
.gradient {
  height: 200px;
  width: 307px;
  margin: 0 0;
  border: 3px solid black;
  border-image: linear-gradient(to top, black 0%, white 100%);
  border-image-slice: 1;
  box-shadow: 0 20px 30px rgba(0,0,0,0.7);
}
.box-image{
	width:307px;
	height:200px;
	margin:0 0;
	display: inline-block;
	text-align:center;
	background-size: cover;
}
.box-info{
	width:307px;
	height:0px;
	margin-top:200px;
	background-color:#f26522;
	transition: all .2s linear;
	overflow: hidden;
}
.box:hover .box-info{
	display:block;
	height:63px;
	margin-top:137px;
}
.box-info-price{
	position:inherit;
	width:85%;
	margin-left:20px;
	text-align:left;
	font-size: 18px;
}
.box-info-price p{
	padding:15px 0 0 0;
	margin:0px;
	font-size: 9px;
}
.box-info-more{
	padding:0px;
	margin:3px 0 0 0;
	float:right;
	font-size: 14px;
}
.arrow{
	width:7px;
	height:10px;
	display:inline-block;
	margin-left:15px;
	background: url("../img/arrow.png");
	background-size: cover;
}
.box-text{
	margin:12px 0px 0px;
	text-align:center;
}
.box:hover .box-text{
	color:#f26522;
}
footer{
	height:50px;
	text-align:center;
	line-height:50px;
	font-size: 12px;
}
